body{
    background: linear-gradient(to bottom, 
      #192735 0%,   /* von oben bis 40% blaugrau */
      #192735 50%,  /* danach von 40% bis 50% Uebergang */
      #000000 60%,  /* ab 50% schwarz */
      #000000 100%
  );
}

button{
    background: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
}

.linkContainer {
    width: 100vw;
    height: 100vh;
    margin-top: 40vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('./assets/OnesAndZeros.gif');
    background-size: cover;
}

.tag{
    width: 3%;
}

.linkText{
    text-decoration: none;
    color: aqua;
    font-size: 2rem;  
    margin: 10px;     
} 

.buttonContainer{   
    margin-top: 10vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #192735;
    overflow-x: hidden;
    height: 220vh;
}

#logoContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}
 
#logoLeftArrowImage{
    position: relative;
    right: 1%;
    animation: 2s logoLeftArrowMovement;
    animation-fill-mode: forwards;
}

#logoText{
    position: absolute;
    color: white;
    font-family: sans-serif;
    animation: textMovement 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    text-decoration: none;
}

#logoText::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    background-color: #192735;
    animation: textReveal 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#logoRightArrowImage{
    position: relative;
    left: 1%;
    animation: 2s logoRightArrowMovement;
    animation-fill-mode: forwards;
}

@keyframes textReveal {
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}

@media (orientation: landscape) {
    #logoText {
        font-size: 3.5vw;
    }

    #logoLeftArrowImage {
        width: 3%;
    }

    #logoRightArrowImage {
        width: 3%;
    }

    @keyframes logoLeftArrowMovement {
        0%{
            opacity: 0%;
            top: 40%;
        }
        50%{
            opacity: 100%;
            top: 0%;
            right: 1%;
        }
        100%{
            right: 14%;
        }
    }
    
    @keyframes logoRightArrowMovement {
        0%{
            opacity: 0%;
            top: 40%;
        }
        50%{
            opacity: 100%;
            top: 0%;
            left: 1%;
        }
        100%{
            left: 14%;
        }
    }
    
    @keyframes textMovement {
        from{
            left: 50%;
        }   
        to{
            left: 37.5%;
        } 
    }
}

@media (orientation: portrait) {
    #logoText {
        font-size: 9.5vw;
    }

    #logoLeftArrowImage, #logoRightArrowImage {
        width: 7%;
    }

    @keyframes logoLeftArrowMovement {
        0%{
            opacity: 0%;
            top: 40%;
        }
        50%{
            opacity: 100%;
            top: 0%;
            right: 1%;
        }
        100%{
            right: 37%;
        }
    }
    
    @keyframes logoRightArrowMovement {
        0%{
            opacity: 0%;
            top: 40%;
        }
        50%{
            opacity: 100%;
            top: 0%;
            left: 1%;
        }
        100%{
            left: 37%;
        }
    }
    
    @keyframes textMovement {
        from{
            margin-left: 70%;
        }   
        to{
            margin-left: 0%
        } 
    }
}