body{
    background-color: #192735;
    display: inline-block;
}

input, select{
    font-size: 1.5rem;
}

#geschlechtFeld, #namenFeld, #telefonNummernFeld{
    margin: 1%;
    margin-left: 0;
}

#container{
    width: 80%;
    height: 80%;
    margin: 10% auto;
}


#betreffFeld{
    width: 50%;
    margin-bottom: 2%;
    font-size: 1.5rem;
    font-weight: bold;
} 

#nachrichtenFeld{
    display: inline-flex;
    resize: none;
    min-height: 20vh;
    min-width: 100%;
    font-size: 1rem;
}

#sendenButton{
    width: 40%;
    height: 4vh;
    margin-top: 2%;
    font-size: 1rem;
}