



body {
    background-color: #192735
   
}

#contactContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#emailContactButton, #discordContactButton{
    width: 20vw;
    aspect-ratio: 1 / 1;
    border: none;
    background-size: cover;
    border-radius: 40px;
    margin: 2%;
}

#emailContactButton{
    background-image: url(../assets/email.png);
    animation: fromLeft 1s;
    animation-fill-mode: forwards;
}

#discordContactButton{
    background-image: url(../assets/discord.png);
    animation: fromRight 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@media (orientation: landscape) {
    #contactContainer{
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    #contactContainer{
        flex-direction: column;
    }

    #emailContactButton, #discordContactButton{
        width: 30vw;
        margin: 5%;
    }
}

@keyframes fromLeft {
    from{
        opacity: 0;
        transform: translateY(-70%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromRight {
    from{
        opacity: 0;
        transform: translateY(70%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}