body{
    background-color: #192735;
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 10% auto;
}


#betreffFeld{
    width: 50%;
    margin-bottom: 2%;
    font-size: 1.5rem;
    font-weight: bold;
} 

#nachrichtenFeld{
    resize: none;
    min-height: 100px;
    font-size: 1rem;
}

#sendenButton{
    width: 30%;
    height: 40%;
    margin-top: 2%;
}